.individual {
  font-family: "Rajdhani", sans-serif;

  background-color: #244855;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  .enter-password {
    font-family: "Rajdhani", sans-serif;

    z-index: 1;
    display: flex;
    gap: 3rem;
    height: 100%;
    .password {
      font-family: "Rajdhani", sans-serif;

      border: 2px solid #e64833;
      border-radius: 0.5rem;
      width: 15rem;
      height: 2.5rem;
      padding: 0 1rem;
      &:focus {
        outline: none;
        filter: drop-shadow(1px 1px 50px #e64833);
      }
      &:hover {
        filter: drop-shadow(1px 1px 50px #e64833);
      }
    }
    button {
      font-family: "Rajdhani", sans-serif;

      border: 1px solid #874f41;
      color: #fbe9d0;
      background-color: #874f41;
      width: 5rem;
      border-radius: 0.5rem;
      transition: all 0.1s linear;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .main-quiz-page {
    font-family: "Rajdhani", sans-serif;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    form {
      font-family: "Rajdhani", sans-serif;

      display: flex;
      gap: 1rem;
      .button-submit {
        font-family: "Rajdhani", sans-serif;

        border: 1px solid #874f41;
        color: #fbe9d0;
        background-color: #874f41;
        width: 5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        transition: all 0.1s linear;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .password {
      font-family: "Rajdhani", sans-serif;

      border: 2px solid #e64833;
      border-radius: 0.5rem;
      width: 20rem;
      height: 2.5rem;
      padding: 0 1rem;
      color: black;
      font-size: 1.15rem;
      &:focus {
        outline: none;
        filter: drop-shadow(1px 1px 50px #e64833);
      }
      &:hover {
        filter: drop-shadow(1px 1px 50px #e64833);
      }
    }
    .description {
      font-family: "Rajdhani", sans-serif;

      .top {
        font-size: 1.15rem;
        span {
          font-size: 2rem;
          color: #fbe9d0;
          font-weight: 700;
        }
      }
      font-size: 1.15rem;
      width: 80%;
      margin: 1rem 0;
      border: 1px solid #e64833;
      padding: 1rem;
      border-radius: 0.5rem;
      color: #fbe9d0;
    }
  }
}
