@media screen and (max-width: 825px) {
  .parent {
    .main-intro {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 625px) {
  .parent {
    .main-intro {
      row-gap: 0.5rem;
      column-gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 385px) {
  .parent {
    .main-intro {
      grid-template-rows: repeat(9, 1fr);
      grid-template-columns: repeat(1, 1fr);
      row-gap: 0.5rem;
      column-gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 850px) {
  .gsap1 {
    .inside-gsap1 {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .test2 {
    display: flex;
  }
  .test {
    display: none;
  }
}
