.main-welcome {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  background-color: #244855;
  .welcome-parent {
    height: 100%;
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 4s linear;
    // animation: checker2 4s linear 0s 1;
    overflow: hidden;
    .welcome-parent-left {
      //--------------------
      //--------------------

      // .only-phone {
      //   display: none;
      // }
      //--------------------
      //--------------------
      height: 100%;
      display: flex;
      justify-content: center;
      width: 50%;
    }
    .welcome-parent-right {
      height: 100%;
      display: flex;
      justify-content: center;
      width: 50%;
      flex-direction: column;
      align-items: center;
      color: white;
      font-size: 2rem;
    }
  }
  .bottom {
    .Alert {
      margin-top: -1rem;
    }
  }
}
@keyframes checker2 {
  0% {
    // transform: translateX(-10000px);
    transform: scale(4);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    // transform: translateX(0);
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
